spring:
  datasource:
    username: root
    password:
    url: jdbc:mysql://localhost:3306/employee?useUnicode=true&characterEncoding=utf-8&useSSL=false
    druid:
      initial-size: 0  # 初始化连接数
      max-active: 10   # 最大连接数
      min-idle: 10     # 最小空闲连接数
      max-wait: 1000
  redis:
    database: 0        # Redis数据库索引（默认为0）
    host: localhost    # Redis服务器地址（默认localhost）
    port: 6379         # Redis服务器连接端口（默认6379）
    password: 123456   # Redis服务器连接密码（默认为空）
    timeout: 10000ms   # 连接超时时间
    lettuce:
      pool:
        max-active: 8  # 最大连接数（使用负值表示没有限制） 默认 8
        min-idle: 0    # 最小空闲连接 默认 0
        max-idle: 8    # 最大空闲连接 默认 8
        max-wait: -1ms # 最大阻塞等待时间（使用负值表示没有限制） 默认 -1ms


mybatis-plus:
  global-config:
    banner: false
  mapper-locations: ["classpath*:/mapper/**/*.xml"]

